* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

/* box1 */

.nav-logo {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
}

.img-logo {
    height: 50px;
}

.logo {
    margin-left: 30px;
}

.nav-address {
    margin-left: 50px;
    padding: 5px 5px;
}

.border {
    border: 1px solid transparent;
}

.logo:hover {
    border: 1px solid white;
}

.nav-address:hover {
    border: 1px solid white;
}

/* box2 */

.add-first {
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
    width: 58px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */

.nav-search {
    display: flex;
    width: 850px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-left: 50px;
    margin-right: 20px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 740px;
    font-size: 0.9rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f3a847;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon:hover {
    background-color: #e29c42;
    color: #0F1111;
}

/* box4 */

.nav-signin {
    width: 100%;
    height: 50px;
    margin-left: 47px;
    margin-right: 40px;
}

.nav-signin:hover {
    border: 1px solid white;
    padding: 2px 5px;
}

span {
    color: #cccccc;
    font-size: 12px;
}

.nav-return {
    width: 100%;
    height: 50px;
    margin-left: 20px;
    margin-right: 50px;
    padding: 2.5px 5px;
}

.nav-second {
    font-size: 13px;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
    
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    padding: 7px 5px;
    display: flex;
}

.cart {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.nav-return:hover {
    border: 1px solid white;
}

.nav-cart:hover {
    border: 1px solid white;
}

/* panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 14px;
}

.panel-deals {
    font-size: 15px;
    font-weight: 700;
}

/* hero-section */

.hero-section {
    width: 100%;
    height: 607.9px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.hero-message {
    background-color: #f5f6f6;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative;
    margin: 270px 30px 0px 30px;

}
  
.hero-message a {
    color: #007185;
    text-decoration: none;
}

/* shop section */

.shop-section {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #c6cfd1;
}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 22.4%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box-img {
    height: 340px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-content {
    margin: 0rem 1rem 0rem 1rem;
    font-size: 14px;
}

.box-content p {
    color: #007185;
}

/* footer */

.foot-panel1 {
    background-color: #485769;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px; 
}

.foot-panel2 {
    background-color: #232f3e;
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul p {
    font-size: 14px; 
    color: #dddddd;
    font-weight: bolder;
}

ul a {
    color: #dddddd;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

/* foot-panel3 */

.foot-panel3 {
    background-color: #232f3e;
    color: white;
    border-top: 0.5px solid #3a4553;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("/Amazon-clone/images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* foot-panel4 */

.foot-panel4 {
    height: 70px;
    font-size: 14px;
    color: white;
    background-color: #131a22;
    padding-top: 30px;
    text-align: center;
}

.foot-panel4 a {
    font-size: 14px;
    color: white;
    text-decoration: none;

}

.copyright {
    padding-top: 10px;
}


